<form class="container" [formGroup]="formulario">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nome</label>
    <input type="text"   class="form-control" id="exampleInputName" aria-describedby="nameHelp">
    <div *ngIf="formulario.get('nome')?.errors?.['required'] && formulario.get('nome')?.touched">
      Nome obrigatório
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Sobrenome</label>
    <input type="text"  class="form-control" id="exampleInputName2" aria-describedby="name2Help">
    <div *ngIf="formulario.get('sobrenome')?.errors?.['required'] && formulario.get('sobrenome')?.touched">
      Sobrenome obrigatório
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">CPF</label>
    <input type="number"   class="form-control" id="exampleInputCPF" aria-describedby="cpfHelp">
    <div *ngIf="formulario.get('cpf')?.errors?.['required'] && formulario.get('cpf')?.touched">
      CPF obrigatório
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email</label>
    <input type="email"   class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div *ngIf="formulario.get('email')?.errors?.['required'] && formulario.get('email')?.touched">
      Email obrigatório
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Endereço</label>
    <input type="text"  class="form-control" id="exampleInputEnd" aria-describedby="endHelp">
    <div *ngIf="formulario.get('endereco')?.errors?.['required'] && formulario.get('endereco')?.touched">
      Endereço obrigatório
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Senha</label>
    <input type="password"  class="form-control" id="exampleInputPassword1">
    <div *ngIf="formulario.get('senha')?.errors?.['required'] && formulario.get('senha')?.touched">
      Senha obrigatório
    </div>
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Confirmação de senha</label>
    <input type="password"  class="form-control" id="exampleInputPassword2">
    <div *ngIf="formulario.get('confsenha')?.errors?.['required'] && formulario.get('confsenha')?.touched">
      Confirmação da senha deve ser igual a senha
    </div>
  </div>
  <button type="submit" class="btn btn-primary"(click)="enviarForm()">Registrar</button>
  <br>
<button type="submit" class="btn btn-primary"(click)="getClientes()">getClientes</button>
</form>


