  <ul id="nav" class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" href="#"><img src="../navbar/imgs/CDM.png" alt="Cheiro de Macho"></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/index">Promoções</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Novidades</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Produtos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Carrinho</a>
    </li>
    <li class="nav-item">
      <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Search">
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/login">Login/Cadastro</a>
    </li>
  </ul>

